#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(to right, #15202b , #080f16);
}

.MainLogin {
  width: 450px;
  height: 500px;
  border-radius: 5%;
  background: white;
  position: absolute;
  visibility: visible;
  z-index: 1;
}

.companyName {
  color: #767272;
  font-size: 25px;
  font-style: oblique;
  position: relative;
  top: 30px;
}

.username {
  position: relative;
  top: 85px;

}

.password {
  position: relative;
  top: 100px;
  
}

.line {
  width: 130px;
  height: 1px;
  background: black;
}

.devider {
  font-size: 17px;
  font-style: italic;
  position: relative;
  top: 190px;
}

.losbutton {
  --va-button-content-px: 100px
}
